.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo-image .image {
    height: 50px;
  }
  
  .logo-head p {
    font-size: 24px;
    margin-left: 10px;
    color: #192839;
  }
  
  .Nav-menu {
    display: flex;
    align-items: center;
  }
  
  .qr-code, .sign-out {
    margin: 0 10px;
    cursor: pointer;
  }
  
  .language-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #fff;
    color: #192839;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropbtn .flag {
    width: 16px;  
    height: 11px; 
    margin-right: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .dropdown-content div:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown-content .flag {
    width: 16px; 
    height: 11px; 
    margin-right: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  