.Navbar {
    background: #ffffff;
    width: 100vw;
    padding: 1rem 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-head > p{
    color: #192839;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}

.Nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-image > .image{
    width: 36px;
    height: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}